.btnChange{
padding: 3px 3px 3px 3px;
    border: 1px solid #007bff;
    color: white;
    background: #007bff;
    padding: 3 3 3 3;
    border-radius: 4px 4px 4px 4px;
    text-decoration: none;
    
}

.btnChange : hover{
	color: white !important;
	background: #fff !important;
	color:white !important;
}